## {{ ansible_managed }}
##
## User privilege specification
##

%wheel ALL=(ALL) ALL
{% if passwordless_sudo is defined %}  
{% for entry in passwordless_sudo %}
%wheel ALL=(ALL) NOPASSWD:{{ entry }}
{% endfor %}
{% endif %}  



